<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123445088604-oihcq7nu4tf4r9qshhf4l2t204son6ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123445088604-oihcq7nu4tf4r9qshhf4l2t204son6ug</string>
	<key>API_KEY</key>
	<string>AIzaSyBsntaemkRIckfwTkYKy8or3ZUukZm1HgU</string>
	<key>GCM_SENDER_ID</key>
	<string>123445088604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guillemCurriculum</string>
	<key>PROJECT_ID</key>
	<string>app-curriculum-iag7lg</string>
	<key>STORAGE_BUCKET</key>
	<string>app-curriculum-iag7lg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123445088604:ios:73b7e51379f74a1357b199</string>
</dict>
</plist>